
* {
  box-sizing: border-box;
  margin: 0px;
  margin-top: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
  
  background-color: #feded5; 
  background-attachment: fixed;
  background-position: center;
  height: 600px;
   /* min-height: 100vh;
  display:flex; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.nav1 {
  background-color:#E66863;
  text-align: center;
  font-family: 'Megrim', cursive;
  font-size: 150%;
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  margin: 0px auto 20px auto;
  padding-top: 10px;
}
a{
  font-family: 'Signika', sans-serif;
  color: black;
}

h1{
  font-family:'Cabin Sketch', cursive;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 380%;
  /* opacity:0.8; */
  background-color: #E66863;
  }

   .heroImg{
    text-align: center;
   } 

h2{
  font-family: 'Cabin Sketch', cursive;
  font-size: larger;
  text-align: center;
  font-size: 250%;
  margin-bottom: 25px;
  background-color: #E66863;
}

.div1{
  text-align: center;
  margin-top: 35px;
  margin-bottom: 45px;
  background-color: #E66863;
  width: 90%;
  margin: auto;
  margin-top: 40px;
  padding-bottom: 40px;
  font-size: large;
  } 

p{
  color:black;

}
.div2{
  text-align: center;
  margin-top: 35px;
  margin-bottom: 45px;
  background-color: #E66863;
  width: 90%;
  margin: auto;
  margin-top: 40px;
  padding-bottom: 40px;
  font-size: large;
  /* opacity:0.9; */
  } 
  .div3{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 45px;
    background-color: #E66863;
    width: 90%;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 30px;
    font-size: large;
    /* opacity:0.9; */
    } 
  .list{
     list-style-type: square; 
     list-style-position: inside;
     margin: 10px;
     font-size: large;
     /* padding: 0; */
   }
