* {
  box-sizing: border-box;
  margin: 0px;
  margin-top: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {

  background-color: #fff1e4;
  background-attachment: fixed;
  background-position: center;
  height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav1 {
  background-color: #E66863;
  text-align: center;
  font-family: 'Megrim', cursive;
  font-size: 150%;
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  margin: 0px auto 20px auto;
  width: 85%;
  border: black solid 1px;
}

a {
  font-family: 'Signika', sans-serif;
  color: black;
}

h1 {
  font-family: 'Cabin Sketch', cursive;
  margin: 20px auto 30px auto;
  padding: 20px;
  text-align: center;
  font-size: 500%;
  background-color: #E66863;
  width: 60%;
  border: black solid 1px;
}

.heroImg {
  text-align: center;
}

img{
  border: black solid 1px;
}

h2 {
  font-family: 'Cabin Sketch', cursive;
  font-size: larger;
  text-align: center;
  font-size: 350%;
  margin: 20px auto 10px auto;
  padding: 10px;
  background-color: #E66863;
  width: 45%;
  border: black solid 1px;
}

.div1 {
  margin: 0px auto 50px auto;
  background-color: #E66863;
  width: 60%;
  padding-bottom: 20px;
  font-size: large;
  border: black solid 1px;
}


.div2 {
  margin: 0px auto 50px auto;
  background-color: #E66863;
  width: 60%;
  padding-bottom: 20px;
  font-size: large;
  border: black solid 1px;
}

.div3 {
  margin: 0px auto 50px auto;
  background-color: #E66863;
  width: 60%;
  padding-bottom: 20px;
  font-size: large;
  border: black solid 1px;
}

p {
  color: black;
  padding: 10px;
  font-family: 'Megrim', cursive;
  font-family: 'Signika', sans-serif;
  font-size: 25px;
  font-weight: lighter;
}

.list {
  list-style-type: square;
  list-style-position: inside;
  margin: 10px;
  font-size: large;
}
li{
  padding: 10px;
  font-family: 'Megrim', cursive;
  font-family: 'Signika', sans-serif;
  font-size: 25px;
  font-weight: lighter;
}

footer{
  color:black;
  margin-top: 350px;
  display: flex;
  justify-content: center;
}
